// Cascading
.cascading {
  .css-1jjkm6i-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    display: none;
  }
}
.inputControl {
  width: 100%;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: none;
  padding: 5px;
}

.cascading_item {
  width: 700px;
  height: 270px;
  border-radius: 4px;
  transition: width 10s ease-in-out;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  .cascading_head {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px 8px 16px;
    background: #ffffff;
    box-shadow: inset 0px -1px 0px #e5e9eb;

    .cascading_head_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .head_title {
      font-size: 14px;
      line-height: 24px;
      margin-left: 16px;
      font-weight: 700;
      color: #000;
      width: 222px;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none !important;
      }

      span {
        display: block;
        width: 330px;
      }
    }
  }

  .back_icon {
    background: none;
    border: none;
    cursor: pointer;
  }
}
.cascading_search {
  height: 56px;
  padding: 8px 12px 8px 16px;
  position: relative;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #e5e9eb;

  .cascading_search_input {
    height: 40px;
    width: 100%;
    padding: 6px 8px;
    background: #f6f7f9;
    border-radius: 6px;
    border: none;
    outline: none;
    padding-left: 50px;
  }
  .search_icon {
    position: absolute;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cascading_items {
  height: 40px;
  padding: 8px 12px 8px 16px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #e5e9eb;
  cursor: pointer;

  p {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    font-size: 13px;

    span {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
  }
}
.cancel_icon {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 9px;
}
.search_items {
  height: 190px;
  overflow: auto;
  padding: 0 0 0px 0;
  border-radius: 10px;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #869bb9;
    border-radius: 10px;
  }
}
.input_layer {
  position: relative;
}
.input_checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30px;
  margin-right: 20px;
}
.confirm_button {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 60px;
  height: 40px;
  border: none;
  background: none;
  color: #385d92;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
