@use "/src/scss/colors";

.button {
  padding: 4px 16px;
  outline: none;
  border: 1px solid;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.9rem;
  transition-duration: 0.2s;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;

  &.large {
    padding: 8px 20px;
    font-size: 16px;
  }

  &.primary {
    background-color: colors.$primary;
    border-color: colors.$primary;
    color: #fff;

    &.error {
      background-color: colors.$error;
      border-color: colors.$error;

      &:hover {
        background-color: colors.$error-hover;
      }
    }
    &.disabled {
      background: "#cccc";
      border-color: colors.$primary;
      color: #fff;
    }

    &:hover {
      background-color: colors.$primary-hover;
    }
  }

  &.secondary {
    background-color: #fff;
    border-color: colors.$borders;
    color: colors.$primary;

    &.disabled {
      border-color: colors.$primary;
      color: colors.$primary;
    }
    &:hover {
      border-color: colors.$primary;
      color: #fff;
    }

    &.error {
      color: colors.$error;
      border-color: colors.$error;

      &:hover {
        border-color: colors.$error-hover;
        color: colors.$error-hover;
      }
    }
  }
  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.filtersButton {
    background: #f6f8f9;
    border-color: #e5e9eb;
    color: #000;

    &:hover {
      border-color: colors.$primary;
      color: colors.$primary;
    }
  }
}

.tabButtonWrapper {
  display: flex;
  align-items: center;
}

.tabButton {
  height: 32px;
  display: flex;
  align-items: center;
  background: #ffffff;
  color: #6e8bb7;
  font-weight: 500;
  border-radius: 4px;
  padding: 4px 12px;
  border: 1px solid #e5e9eb;
  transition-duration: 0.3s;
  cursor: pointer;
  margin-left: 20px;

  &:hover {
    color: colors.$primary;
    border-color: colors.$primary;
  }
}

.exitButton {
  color: colors.$grey;
}
