
.TitleCreateForm {
  display: flex;
  align-items: center;
  padding: 6px 0;
  gap: 8px;

  .textfield {
    width: 100%;
    margin-right: 8px;
  }

  &.create-btn {
    width: 100%;
    border: 1px dashed silver;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 6px;
    color: silver;
    cursor: pointer;
    transition-duration: 0.2s;

    &:hover {
      color: #1890FF;
      border-color: #1890FF;
    }
  }
}
