@use "/src/scss/colors";

.paper {
  margin-top: 5px;
}

.menu {
  padding: 0 !important;

  .menuItem {
    display: flex;
    align-items: center;
    padding: 8px 12px 8px 16px;
    box-shadow: inset 0px -1px 0px #e5e9eb;
    min-width: 300px;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      background-color: colors.$hover-silver;
    }
  }
}

.card {
  min-width: 1000px;
  border: none;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    box-shadow: inset 0px -1px 0px #e5e9eb;

    .cardTitle {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
    }

    .closeIcon {
      font-size: 20px;
    }
  }

  .body {
    display: flex;
    align-items: flex-start;
  }
}

.cardFilter {
  min-width: 500px;
  border: none;

  .wrapper{
    display: flex;
    align-items: center;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    box-shadow: inset 0px -1px 0px #e5e9eb;

    .cardTitle {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
    }

    .closeIcon {
      font-size: 20px;
    }
  }

  .body {

    .wrapper {
      display: flex;
      padding: 16px 24px;
      gap: 8px;

      button{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        min-width: 32px;
        background: #fff;
        border: 1px solid rgb(221, 217, 217);
        border-radius: 4px;
        cursor: pointer;


      }
    }


  }
}

.viewsWrapper {
  height: calc(100vh - 157px);
  overflow: auto;

  .views {
    width: 270px;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #e5e9eb;
    border-radius: 0px 0px 6px 0px;

    .viewRow {
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border-bottom: 1px solid #e5e9eb;
      cursor: pointer;

      &:hover {
        background-color: colors.$hover-silver;
      }

      &:last-of-type {
        border: none;
        border-radius: 0px 0px 6px 0px;
      }

      &.active {
        background-color: colors.$primary;
        color: #fff;

        .icon {
          color: #fff;
        }
      }

      .icon {
        color: #6e8bb7;
      }

      .viewName {
        flex: 1;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.formSection {
  flex: 1;

  .formFooter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    border-top: 1px solid #e5e9eb;
    border-left: 1px solid #e5e9eb;
    border-radius: 6px;
    gap: 5px;
  }

  .viewForm {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100vh - 200px);
    overflow: auto;

    .section {
      border: 1px solid #e5e9eb;
      border-radius: 6px;

      .sectionHeader {
        padding: 16px 12px;
        box-shadow: inset 0px -1px 0px #ebedee;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sectionTitle {
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
        }
      }

      .sectionBody {
        padding: 16px 12px;

        .formRow {
          display: flex;
          align-items: center;
          gap: 30px;
        }
      }
    }
  }
}

.section {
  border: 1px solid #e5e9eb;
  border-radius: 6px;

  .sectionHeader {
    padding: 16px 12px;
    box-shadow: inset 0px -1px 0px #ebedee;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sectionTitle {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .sectionBody {
    padding: 16px 12px;

    .formRow {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
}

.table {
  .row {
    display: flex;
    background-color: #fff;
    // align-items: center;

    .cell {
      border: 1px solid #e5e9eb;
      display: flex;
      align-items: center;
      padding: 8px 16px;
      margin: -1px -1px 0 0;
      // flex: 1;
    }
  }
}

.chartAccounts {
  .wrapper {
    display: flex;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
    }

    .addIcon {
      width: 40px;
      height: 40px;
      border-radius: 6px;
      border: 1px solid #d5dadd;
      padding: 10px;

      svg {
        width: max-content;
      }
    }

    button {
      border: none;
      background: none;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.1s ease-in-out;

      svg {
        color: #0e73f6;
        width: 100%;
        height: 100%;
      }

      &:hover {
        background: #e5e9eb;
      }
    }
  }

  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    button{
      margin: 0;
      z-index: 1;
    }
    span{
      display: block;
      border-radius: 50%;
      background-color: #F76659;
      padding: 2px;
      color: #fff;
      position: absolute;
      right: 10px;
      top: 0;
      height: 16px;
      width: 16px;
      text-align: center;
      z-index: 2;
    }
  }

  button {
    border: none;
    background: none;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in-out;

    svg {
      color: #0e73f6;
      width: 100%;
      height: 100%;
    }

    &:hover {
      background: #e5e9eb;
    }
  }
}

.settings {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px 0;
  cursor: pointer;

  span {
    margin-left: 10px;
  }
}

.groupbyAndDelete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 8px;

  button {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    background: #fff;
    border: 1px solid rgb(221, 217, 217);
    border-radius: 4px;
    cursor: pointer;
  }
}

.footerButton {
  .button {
    cursor: pointer;
    padding: 16px 24px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    width: max-content;
    svg{
      margin-right: 8px;
      width: 24px;
      height: 24px;
    }

    p {


      &:hover{
        color: #0e73f6;
      }
    }
  }
}