
.menuPaper {
  border-radius: 6px;
  padding: 0 !important;
}

.menuList {
  padding: 0
}

.menuItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  box-shadow: inset 0px -1px 0px #E5E9EB;
}

.menuItemIcon {
  width: 35px;
  transform: translateY(3px);
}